
.navbar {
    margin-bottom: 0;    
}

.navbar-inner {
    padding-right: 5px;
}

#mapOptions .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

#mapOptions .caret {
    margin-top: 16px;
    margin-left: 4px;
    border-top: 4px solid greenyellow;
}

#mapOptions > a:hover {
    color: greenyellow;
    text-decoration: none;
}

#dataTable > h3 {
    margin: 0px 0px 10px 0px;
}

.pagination {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/gray_jean.png");
}

#container {
    width: 960px;
    margin: auto;
    height: 680px;
    border: 0px solid;
    /* background-color: gray; */
}

#header {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px solid;
}

#footer {
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;   
}

#login_container {
    width: 40%;
    margin: 140px auto;
}

#registration_container {
    width: 50%;
    margin: 120px auto;
}

#content {
    width: 100%;
    height: 535px;
}

#dataPanel {
    float: left;
    width: 260px;
    height: 100%;
    /* background-color: green; */
}

#dataInput {
    padding: 0 4px 0 0;
}

#dataTable {
    padding: 0 4px 0 0;
}

#dataTable > #pageSelector {
    margin-left: 0px;
}

#mapPanel {
    float: left;
    width: 690px;
    /* background-color: black; */
    margin-left: 10px;
}

#map_controls_container {
    height: 35px;
    width: 100%;
    background: rgb(76,76,76); /* Old browsers */
    background: rgb(76,76,76); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(76,76,76,1) 0%, rgba(12,12,12,1) 0%, rgba(68,68,68,1) 31%, rgba(71,71,71,1) 77%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,76,76,1)), color-stop(0%,rgba(12,12,12,1)), color-stop(31%,rgba(68,68,68,1)), color-stop(77%,rgba(71,71,71,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(12,12,12,1) 0%,rgba(68,68,68,1) 31%,rgba(71,71,71,1) 77%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(12,12,12,1) 0%,rgba(68,68,68,1) 31%,rgba(71,71,71,1) 77%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(76,76,76,1) 0%,rgba(12,12,12,1) 0%,rgba(68,68,68,1) 31%,rgba(71,71,71,1) 77%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(76,76,76,1) 0%,rgba(12,12,12,1) 0%,rgba(68,68,68,1) 31%,rgba(71,71,71,1) 77%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
}

.map_control_label {
    float: left;
    color: greenyellow;
    line-height: 35px;
    margin-left: 10px;
}

.map-button {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    padding: 2px 6px;
}

#mapOptions {
    margin-right: 8px;
    float: right;
}

mapContainer {
    position: relative;
    width: 690px;
    height: 500px;
    background-color: blue;
}

#map_canvas {
    position: absolute;
    width: 690px;
    height: 500px;
    background-color: green;
}

#street_view {
    position: absolute;
    width: 690px;
    height: 500px;
    background-color: black;
}

.street_view_image {
    margin-left: 25px;
    margin-top: 0px;
}

#playbackButton {
    position: absolute;
    left: 315px;
    top: 210px;
}

#streetSign {
    position: absolute;
    left: 240px;
    top: 10px;
    background: rgb(14,186,43); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(14,186,43,1) 27%, rgba(28,140,11,1) 66%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(27%,rgba(14,186,43,1)), color-stop(66%,rgba(28,140,11,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(14,186,43,1) 27%,rgba(28,140,11,1) 66%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(14,186,43,1) 27%,rgba(28,140,11,1) 66%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(14,186,43,1) 27%,rgba(28,140,11,1) 66%); /* IE10+ */
    background: linear-gradient(to right,  rgba(14,186,43,1) 27%,rgba(28,140,11,1) 66%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0eba2b', endColorstr='#1c8c0b',GradientType=1 ); /* IE6-9 */
    width: 180px;
    height: 65px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 16px;
    opacity: 0.9;
}

.streetSignText {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.streetSignIcon {
    margin-left: 70px;
    width: 40px;
    height: 30px;
}

.table {
    background-color: whitesmoke;
}

td.selected {
    font-weight: bold;
}

td.selected:last-child {
    background-image: url("../images/trip_selected.png");
    background-repeat: no-repeat;
    background-position: right center;
}







